body, html{
	margin:0;
	padding:0;
	height: 100%;
}

body{
  	background-image: url("/assets/img/concert_background.jpeg");
  	background-size: cover;
}

#page-wrapper{
	height:auto;
	min-height: 100%;
	overflow: hidden;
	width:90%;
	top:0;
	margin: -50px auto;
	padding: 0 30px;
	background-color: #F5F5F5;
	-webkit-box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.66);
	box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.66);
}

/**
 * index.php
 **/

.vertical-center {
  	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */

  	display: flex;
  	align-items: center;
}

#search-box-dropshadow{
	-webkit-box-shadow: 0px 3px 18px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 18px 6px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 18px 6px rgba(0,0,0,0.75);
}

#search-desc{
	font-size:1.2em;
	margin-bottom: 20px;
}

#search-box{
	margin-top:10%;
	width:80%;
}

#search-panel{
	background-color: #eee;
}

#search-container{
	width:80%;
	margin: 40px auto;
}